{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <p><a href="{{ path('techno_add') }}">Ajouter une techno</a></p>
    </div>
    <div>
        <h2>Liste des technos</h2>
    </div>
    <table>
        <tr>
            <th>Nom</th>
            <th>Action</th>
        </tr>
        {% for techno in technos %}
            <tr>
                <td>{{ techno.name }}</td>
                <td><a href="{{ path('techno_edit', {id: techno.id}) }}">Modifier</a> <a href="{{ path('techno_delete', {id: techno.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
